.education-description {
  padding-left: 0px;
  margin-left: 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  height: 85px;
  flex-wrap: wrap;
}

.education-block {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  text-align: left;
  height: 85px;
  flex-wrap: wrap;
  padding: 10px;
  margin-bottom: 5px;
}

.education-description li {
  list-style-type: none;
  margin-top: 0px;
}

.education-image {
  float: right;
  margin-left: 10px;
  margin-bottom: 10px;
  border: 5px solid black;
  padding: 5px;
  height: 100%;
}
